[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grab = {editable = true, ref = "master", git = "https://github.com/lorien/grab.git"}
python-dotenv = "*"
lxml = "*"
pycurl = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
